# Server
PORT=3000
# NODE_ENV can be 'development' to echo OTPs in logs
NODE_ENV=development

# MongoDB
MONGODB_URI=mongodb://localhost:27017/ride_booking

# JWT
JWT_SECRET=your_jwt_secret_here
JWT_EXPIRES_IN=7d

# Firebase Admin (for social login)
FIREBASE_PROJECT_ID=ride-booking-app-3d36b
FIREBASE_CLIENT_EMAIL=firebase-adminsdk-fbsvc@ride-booking-app-3d36b.iam.gserviceaccount.com
# Paste the private key with literal \n for newlines
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"

# MSG91 (for OTP via SMS). If not set, OTPs will be logged in development.
MSG91_AUTH_KEY=472654AEScDjVD7Tlx68e6522aP1
MSG91_TEMPLATE_ID=
MSG91_SENDER_ID=RIDAPP
