PORT=3000
NODE_ENV=development
ENABLE_TEST_OTP=false
MONGODB_URI=mongodb://localhost:27017/ride_booking
JWT_SECRET=your_jwt_secret_here
JWT_EXPIRES_IN=7d
FIREBASE_PROJECT_ID=ride-booking-app-3d36b
FIREBASE_CLIENT_EMAIL=firebase-adminsdk-fbsvc@ride-booking-app-3d36b.iam.gserviceaccount.com
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
MSG91_AUTH_KEY=472654AEScDjVD7Tlx68e6522aP1
MSG91_TEMPLATE_ID=
MSG91_SENDER_ID=RIDAPP
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=
GOOGLE_MAPS_API_KEY=
GOOGLE_MAPS_TIMEOUT_MS=8000
AWS_REGION=ap-south-1
AWS_BUCKET_NAME=my-bucket-name
GOOGLE_CLIENT_ID=
CLIENT_SECRET=
EMAIL_USER=
EMAIL_PASS=
CLOUDFRONT_BASE_URL=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
