# -----------------------------
# Node / JavaScript
# -----------------------------
node_modules/
package-lock.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# -----------------------------
# Environment Files
# -----------------------------
.env
.env.*
!.env.example

# -----------------------------
# System Files
# -----------------------------
.DS_Store
Thumbs.db

# -----------------------------
# Build Output
# -----------------------------
dist/
build/
out/
.next/
.vite/

# -----------------------------
# Test Coverage
# -----------------------------
coverage/
tests/

# -----------------------------
# Logs
# -----------------------------
*.log

# -----------------------------
# Editor / IDE
# -----------------------------
.vscode/
.idea/
*.swp

# -----------------------------
# Misc
# -----------------------------
*.local
*.cache

# -----------------------------
# Firebase / Google Credentials
# -----------------------------
serviceAccountKey.json
firebase-adminsdk*.json
google-services*.json

# Specific Firebase files
rubiq-ride-495704-firebase-adminsdk-fbsvc-613c9b1f02.json
google-services-passenger.json
google-services-rider.json

# -----------------------------
# Private Keys / Certificates
# -----------------------------
*.pem
*.key
*.p12
*.pfx
*.crt
*.cer

# Specific Server Key
rubiq-ride-server-key.pem
